@model IEnumerable<RepoLayer.Entities.UserProductEntity>

@* @model PaginatedList<CommonLayer.Models.ProductModel>
 *@

 <script src="~/js/Custom.js"></script>
<link href="~/css/Index.css" rel="stylesheet" />
<h1 class="text-muted">Product List</h1>

<p>
    <a class="text-success" asp-action="AddEdit">Create New</a>
</p>
@* <form asp-controller="Product" method="get" asp-action="Index">
    @using (Html.BeginForm())
    {
        <p>
            @Html.TextBox("SearchString")
            <input type="submit" value="search" />
        </p>
    }
</form>
 *@
<table id="product-table" class="table">
    <thead>
        <tr class="table-danger">
           @*  <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th> *@
            <th class="sortable">
                Code
            </th>
            <th class="sortable">
                Name
            </th>
            <th class="sortable">
                Description
            </th>
            <th class="sortable">
                ExpiryDate
            </th>
            <th class="sortable">
                Category
            </th>
            <th class="sortable">
                Image
            </th>
            <th class="sortable">
                Status
            </th>
            <th class="sortable">
                CreationDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
@foreach (var item in Model) {
        <tr class="table">
            @* <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <img src="@item.Image" style="width:50%"; height="50%" alt="Image">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
               
              <button type="button" class="btn btn-success">@Html.ActionLink("Edit", "AddEdit", new {  code=item.Code  })</button>

@*               <button type="button" onclick="confirmDelete" class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new {  productId=item.ProductId  })</button>
                *@           
                <button type="button" class="btn btn-danger" onclick="confirmDelete('@item.ProductId')">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>
@* <div class="pagination">
    <button class="pagination-btn">1</button>
    <button class="pagination-btn">2</button>
    <!-- Add more pagination buttons based on the number of pages -->
</div> *@